<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="\Logs\nlog-internal.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="fileTarget"
            filename="Logs\AllLogs\${shortdate}_Log.txt"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}"/>

    <target xsi:type="File" name="errorfileTarget"
            filename="Logs\Errors\${shortdate}_ErrorLog.txt"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${onexception: | ${exception:format=tostring}} ${newline} --------------------------------------------------------------  ${newline}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="fileTarget" />
    <logger name="*" minlevel="Error" writeTo="errorfileTarget" />
  </rules>
</nlog>