version: '3.4'

services:
  ocelot-api-gateway:
    container_name: OcelotApiGateway
    image: mirolimmajidov/ocelot.apigateway:latest

  identity-api:
    container_name: IdentityService
    image: mirolimmajidov/identity.api:latest

  identity-MySqlDB:
    container_name: IdentityService_MySqlDB
    image: mysql:latest

  job-api:
    container_name: JobService
    image: mirolimmajidov/job.api:latest

  job-SqlServerDB:
    container_name: JobService_SqlServerDB
    image: "mcr.microsoft.com/mssql/server:2022-latest"

  payment-api:
    container_name: PaymentService
    image: mirolimmajidov/payment.api:latest

  payment-mongoDB:
    container_name: Mongo_NoSqlData
    image: mongo:latest

  payment-redisDB:
    container_name: Redis_NoSqlData
    image: redis:latest

  rabbitmq:
    container_name: RabbitMQ_MessageBroker
    image: rabbitmq:latest
